.wrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 30%;
    border-radius: 10%;
    border: 7px solid #F0A500;
    font-size: 2rem;
    gap: 1rem;
}

.inputHolder {
    display: flex;
    justify-content: space-between;
}

.inputHolder input {
    font-size: 1rem;
}

.button {
    cursor: pointer;
    width: 50%;
    padding: .2rem;
    font-size: 1.5rem;
    background-color: whitesmoke;
    color: #082032;
    font-weight: 600;
}
.button:disabled {
    background-color: gray;
}

.buttonContainer {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.error {
    background-color: red;
}

